<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main w-full h-screen bg-zinc-900 text-white">
      <h1 class="text-white"><%= filename %></h1>
      <!-- Display file name -->
      <p class="text-white"><%= filedata %></p>
      <!-- Display file data -->
    </div>
  </body>
</html>
